* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/Agency.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
header {
    width: 95%;
    overflow: hidden;
    padding: 3px 20px;
}
.head {
    word-spacing: 8px;
    float: left;
    color: #fff;
}
nav {
    float: right;
    border-left: 4px solid orange;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-left: 37px; 
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav ul a button{
    padding: 8px 30px;
    margin-left: 1rem;
    border: 1px solid #ea2e10;
    border-radius: 1.3rem;
    background: #ea2e10;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.container {
    width: 80%;
    margin: 8% auto;
    color: #fff;
}
.container h1 {
    font-size: 60px;
}
.container h3 {
    font-size: 30px;
    font-family: sans-serif;
    word-spacing: 7px;
}
.container p {
    font-family: cursive;
    font-size: 20px;
}
.container a button {
    margin-top: 2rem;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 1.3rem;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
aside {
    float: right;
    color: #fff;
    position: absolute;
    right: 30px;
    bottom: 65px;
}
aside p {
    font-size: 18px;
}
aside p span {
    font-size: 4rem;
}


aside a button {
    padding: 10px 27px;
    margin-left: 9rem;
    border: 1px solid #ea2e10;
    border-radius: 0.1rem;
    background: #ea2e10;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
/* end codding */